:root {
	--accent: #00acc1;
	--secondary: #81c784;
	--dark: #222;
	--medium-dark: #ccc;
	--plano-fundo: linear-gradient(to right, var(--secondary), var(--accent));
}

body {
	font-family: 'Saira', sans-serif;
  padding-top: 3rem;
	background: var(--plano-fundo);
}

.fadeInLoad {
	/* slower animations */
	-webkit-animation-duration: 4s;
	-webkit-animation-delay: 0.5s;
}

p,li{
	font-size: 12pt;
}

.impact-phrase{
	font-family: 'Inconsolata', monospace;
}

.navbar-brand {
  font-family: 'Pacifico', cursive;
}

.nav-item,.nav-item.active,.nav-link {
  background-color: inherit !important;
	font-weight: bold;
}

.hero {
  padding: 20vh 0;
  background: var(--plano-fundo);
  height: 500px;
}

.work {
  background: var(--dark);
  color: white;
  padding-bottom: 20px;
}

.job{
	color: var(--dark);
	padding: 10px;
	font-family: 'Saira', sans-serif;
	margin-top: 40px;
	background: #FFF;
	box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
	position: relative;
	/*display: none;*/
}

.jobs-container{
	margin-left: 10%;
}

.academia {
  background: var(--medium-dark);
  height: 800px;
}

.personal {
	background: var(--plano-fundo);
  height: 800px;
}

.contact {
	padding: 20vh 0;
	background: var(--plano-fundo);
	height: 400px;
}

.icon-love {
	align: center;
	width: 200px;
	height: 200px;
}
